#comment_form {
    margin-bottom: 50px;
}

#hashover,
#sort_div {
	clear: both;
}

#hashover form,
#hashover .cmtdiv form {
	display: block;
}

#hashover .cmtdiv form {
	margin-top: 6px;
	clear: both;
}

#hashover form textarea,
#hashover form input[type="text"]{
	padding: 2px;
	background-color: #F1F0EA;
	font-size: 18px;
	color: #424242;
/*  font-family: "Open Sans", arial, sans-serif; */
	border: 1px solid #DDDBCC;
  border-radius: 3px;
	outline-offset: none;
	outline: -webkit-focus-ring-color none;
}

#hashover form textarea,
#hashover form input[type="text"],
#hashover .cmtdiv label {
	transition: all 120ms linear 0ms;
	-moz-transition: all 120ms ease 0ms;
	-webkit-transition: all 120ms ease 0ms;
	-o-transition: all 120ms ease 0ms;
}

#hashover form textarea,
#hashover form input[type="text"],
#hashover .cmtdiv pre,
#hashover .cmtdiv code,
#hashover .cmtdiv label {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#hashover #requiredFields {
	display: none;
}

#hashover form div textarea {
	width: 100%;
	margin-bottom: 15px !important;
	padding: 5px 10px 8px 10px;
	vertical-align: top;
	resize: vertical;
/*	background: #F7F7F7;
	color: #999;*/
}

#hashover form input[type="text"]:hover,
#hashover textarea:hover {
	border-color: #d1a2a2 !important;
}

#hashover form input[type="text"]:focus,
#hashover textarea:focus {
	background-color: #FCFCFC;
	border-color: #d1a2a2 !important;
	color: #424242;
}
/*
#hashover textarea:focus,
#hashover input[type="text"]:focus,
#hashover input[type="password"]:focus {
	box-shadow: 0px 0px 2px rgba(240, 56, 56, 0.8) !important;
	-moz-box-shadow: 0px 0px 2px rgba(240, 56, 56, 0.8) !important;
	-webkit-box-shadow: 0px 0px 2px rgba(240, 56, 56, 0.8) !important;
	-o-box-shadow: 0px 0px 2px rgba(240, 56, 56, 0.8) !important;
}
*/
#hashover form input[type="text"]{
	width: 100%;
	height: 32px;
	padding: 0 10px 0 10px;
	margin-bottom: 10px !important;
  font-weight: 600;
}

/*
#hashover input.opt-login {
	width: 36px;
	background-image: url('/hashover/images/login.png');
	background-position: center center;
	cursor: pointer;
}
*/

#hashover .cmtdiv .cmtopts span.cmtbuttons {
	color: transparent;
	font-size: 0px;
}

#hashover  input[type="button"],
#hashover  input[type="submit"],
#hashover  span.cmtbuttons a {
	display: inline-block;
  background: #303030;
  border: none;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase;
  }

#hashover .cmtopts span.cmtbuttons a {
    background: transparent;
    color: #424242;
}

#hashover input[type="button"]:hover,
#hashover input[type="submit"]:hover,
#hashover span.cmtbuttons a:hover {
  background: #F03838;
}

#hashover a.edit {
	background-image: url('/hashover/images/edit.png');
}

#hashover a.has-email {
	background-image: url('/hashover/images/has-email.png');
}

/*
#hashover hr {
	border: 0px;
	height: 1px;
	background-color: #808080;
	margin-top: 0px;
	margin-bottom: 5px;
	clear: both;
}
*/

#hashover input::-moz-focus-inner {
	border: 0px;
}

#hashover .cmtdiv {
	clear: both;
}

#hashover form div.cmtbox {
  
	overflow: hidden;
/*	background: transparent;
	border: 0px !important; */
	text-align: left;
	height: auto;
	width: auto;
}

#hashover .cmtbubble {
	overflow: hidden;
/*	background-color: #F7F7F7;
	border: 1px solid #d1d1d1 !important;*/
	text-align: left;
	height: auto;
	width: auto;
}

#hashover .reply .cmtbubble {
  border-top: 1px solid #D0D0D0;
}

#hashover .cmtdata p {
	margin: 0px;
/*  display: inline-block; */
	line-height: 1.8;
}

/*
#hashover .cmtdiv .cmtbubble .cmtdata {
	padding: 0px 20px 0px 20px;
	line-height: 1.4em; 
}

#hashover .cmtdiv.reply .cmtbubble .cmtdata {
	padding: 0px 20px 0px 20px;
}
*/

/*
#hashover .cmtdiv hr {
	background-color: #C1C1C1;
	margin: 0px;
}
*/

#hashover .cmtdiv label {
	padding: 2px 5px 0px 1px !important;
}

#hashover .cmtdiv .optionbuttons a {
	padding: 3px 6px 3px 6px !important;
	color: #222222;
}

#hashover .cmtdiv .options {
	display: block;
	overflow: hidden;
	width: 100%;
/*	background-color: #F0F0F0;
	transition: all 0.15s linear 0ms;
	-moz-transition: all 0.15s linear 0ms;
	-webkit-transition: all 0.15s linear 0ms;
	-o-transition: all 0.15s linear 0ms; */
}

/*
#hashover .cmtdiv input {
	margin: 2px 0px 2px 0px;
	height: 26px;
}
*/

/*
#hashover .cmtdiv textarea {
	margin: 0px !important;
	border-left: none !important;
	border-right: none !important;
	border-color: #C1C1C1;
}
*/

#hashover .cmtfont {
	font-size: 18px;
  font-weight: 700;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 15px;
}

#hashover .cmtname a,
#hashover .cmtname {
  font-size: 16px;
  font-weight: 700;
	/*display: inline-block;*/
/*	padding-top: 2px;*/
}

#hashover .cmtname a {
  border: none;
  padding: none;
  color: #424242;
}

#hashover .cmtreply {
  font-size: 14px;
  font-weight: 700;
	/*display: inline-block;*/
/*	padding-top: 2px;*/
}

#hashover .spacer{
  color: #808080 !important;
  font-weight: normal;
  padding: 0px 6px;
}

#hashover .cmtdiv .cmtdate  {
	display: inline-block;
/*	margin: 11px 0 0 0; */
	color: #999 !important;
	font-size: 14px;
  font-weight: 600;
  padding: 0px;
}

#hashover .cmtdiv .cmtdate:hover{
  border: none;
	color: #606060 !important;
}


/*
#hashover .cmtdiv .cmtfont {
	display: inline-block;
	clear: right;
}

#hashover .cmtdiv form .cmtfont {
	padding-left: 8px;
}
*/

/*
#hashover .cmtdiv .optionbuttons {
	float: right;
	padding: 0px 5px 0px 0px !important;
}
*/

#hashover .cmtdiv .cmtheader {
	line-height: normal;
	padding: 0px;
/*	margin-bottom: 10px; */
	overflow: hidden;
}

/*
#hashover .cmtdiv.reply .cmtheader {
	padding: 8px 10px 6px 10px;
}
*/

/*
#hashover .cmtdiv .cmtheader .cmtfont {
	font-size: 20px;
}

#hashover .cmtdiv.reply .cmtheader .cmtfont {
	font-size: 16px;
	margin-top: -1px;
}

#hashover .cmtdiv .cmtheader .cmtfont.at {
	color: #00268F;
}
*/

/*
#hashover .cmtheader a {
    font-size: 12px;
    color: #555;
}
*/

/*
#hashover .cmtnumber a {
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 1px solid #808080;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	text-shadow: none;
	font-weight: bold;
	color: #808080;
}

#hashover .cmtdiv.reply .cmtnumber a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

#hashover .cmtnumber {
	display: inline-block;
	padding-right: 19px;
	float: left;
	margin-right: -1px;
	background-image: url('/hashover/images/bubble-tick.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#hashover .cmtdiv.reply .cmtnumber {
	padding-right: 13px;
	background-image: url('/hashover/images/bubble-tick-reply.png');
}
*/
/*
#hashover .cmtdiv pre,
#hashover .cmtdiv code {
	width: 100%;
	max-height: 200px;
	display: inline-block;
	overflow: auto;
	border: 1px solid #C1C1C1;
	background-color: #F5F5F5;
	white-space: pre;
	padding: 5px;
	margin: 0px;
}

#hashover .cmtdiv blockquote,
#hashover .cmtdiv ol,
#hashover .cmtdiv ul {
	padding-left: 10px;
	margin: 0px 20px 8px 20px;
}

#hashover .cmtdiv blockquote {
	border-left: 3px solid rgba(0,0,0,0.3);
}
*/

/*
#hashover .cmtdiv .cmtdate a {
	text-shadow: none !important;
	color: #999 !important;
}
*/

#hashover .cmtdiv .cmtopts {
/*	padding-left: 10px;
	margin-top: -4px; */
	overflow: hidden;
	width: auto;
	clear: both;
}

/*
#hashover .cmtdiv.reply .cmtopts {
	padding-left: 8px;
	margin-top: -7px;
}
*/

/*
#hashover label input[type="checkbox"] {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 2px;
}
*/

/*
#hashover .cmtdiv .cmtnote.cmtfont {
	font-size: 16px;
	display: inline-block;
	position: relative;
	top: 12px;
	left: 10px;
	vertical-align: top;
	color: #FF0000;
}

#hashover > .cmtfont:nth-child(3) {
	margin-bottom: 0px;
	display: inline-block;
	width: 100%;
	padding-bottom: 8px;
	border-bottom: 1px dashed rgb(190, 190, 190);
}
*/
/*
#hashover .cmtfont#message {
	display: block;
	margin-top: 6px;
	padding: 6px;
	text-align: center;
	background-color: rgba(210, 210, 255, 0.5);
	border: 1px solid #AAAAFF;
}

.opt-name {
    font-weight: bold;
    font-size: 20px !important;
}
*/