.my-fa-twi:before {content: "\f099";}

figcaption {
   font-size : .8em;
   font-weight: 600;
#   padding : 0px 0px;
#   background : #dddddd;
   display :block;
   text-align :center;
#   font-family : georgia, serif;
#   font-style : italic;
#   border-radius : 0 0 7px 7px ;
#   -moz-border-radius : 0 0 7px 7px ;
#   -webkit-border-radius : 0 0 7px 7px ;
}

figure.side {
  display: table;
  margin: 1em 10px;
}

.side img {
/*  float: left; */
  display: table-cell;
/*  vertical-align:middle; */
/*  display: block; */
  margin: 0px;
/*  width: auto; */
/*  max-width: none; */
}

.side figcaption {
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding-left: 10px;
  font-size : .9em;
   font-weight: normal;
}

.side p {
  margin: 0px;
}

.post-title,
.page-title {
  font-size: 34px;
}