<footer class="post-footer clearfix">
    {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tags :</span>
            {{ range .Params.tags }}
                 <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        </p><br/>
        <hr/>
        <script type="text/javascript">
            var name_on="yes";    // Disables "Name" field
            var passwd_on="no";  // Disables "Password" field
            var email_on="no";   // Disables "E-mail" field
            var sites_on="no";   // Disables "Website" field
        </script>
        <script type="text/javascript" src="/hashover.php"></script>
        <noscript>You must have JavaScript enabled to use the comments.</noscript>
    {{ end}}
</footer>